@import 'tailwindcss';

:root {
    --background: #ffffff;
    --foreground: #171717;
}

@theme inline {
    --color-primary: #70c05b;
    --color-main-text:#414141;
    --shadow-button-default: 4px 8px 16px 0px rgba(112, 192, 91, 0.2);
    --shadow-button-active: inset 3px 3px 6px rgba(0, 0, 0, 0.35),
  inset -3px -3px 6px rgba(255, 255, 255, 0.2);
  --shadow-catalog-menu:0px 8px 16px 0px rgba(0,0,0,0.15);
    --shadow-button-secondary: 0 2px 4px rgba(0, 0, 0, 0.2);
    --shadow-default: 2px 4px 8px 0px rgba(0, 0, 0, 0.1);
    --shadow-article: 4px 8px 16px 0px rgba(255,100,50,0.2);
    --shadow-category-block: 1px 2px 4px 0px rgba(112, 192, 91, 0.2);
    --shadow-form: 0px 8px 24px rgba(0, 0, 0, 0.12);
    --font-sans: var(--font-rubik);
    --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
    /* :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  } */
}

body {
    background: #fbf8ec;
    color: #778;
    font-family: var(--font-sans);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

@keyframes spin {
  to {
    transform: rotate(360deg);
  }
}

@keyframes progress {
  0% {
    width: 0%;
  }
  50% {
    width: 100%;
  }
  100% {
    width: 0%;
  }
}

.animate-spin {
  animation: spin 1s linear infinite;
}

.animate-progress {
  animation: progress 2s ease-in-out infinite;
}

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(-5px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
.animate-fadeIn {
  animation: fadeIn 0.2s ease-out forwards;
}

@keyframes progress {
  0% {
    width: 0%;
  }
  100% {
    width: 100%;
  }
}