@import 'tailwindcss';

:root {
    --background: #ffffff;
    --foreground: #171717;
}

@theme inline {
    --color-primary: #70c05b;

    --shadow-button-default: 4px 8px 16px 0px rgba(112, 192, 91, 0.2);
    --shadow-button-active: inset 3px 3px 6px rgba(0, 0, 0, 0.35),
  inset -3px -3px 6px rgba(255, 255, 255, 0.2);

    --shadow-default: 2px 4px 8px 0px rgba(0, 0, 0, 0.1);

    --font-sans: var(--font-rubik);
    --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
    /* :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  } */
}

body {
    background: #fbf8ec;
    color: #778;
    font-family: var(--font-sans);
}
