@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {

  --font-sans: var(--font-rubik);
  --font-mono: var(--font-geist-mono);
  --shadow-default: 2px 4px 8px 0px rgba(0,0,0,0.1);
}

@media (prefers-color-scheme: dark) {
  /* :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  } */
}

body {
  background: #fbf8ec;
  color: #778;
  font-family: var(--font-sans);
}
